.iconContainer {
    display: flex;
    padding: 0.3rem;
    border-radius: 5px;

    svg {
        --svg-size: 1.8rem;
        width: var(--svg-size);
        height: var(--svg-size);
    }
}

.container {
    width: 85%;
    border-radius: 10px;
    height: max-content;
    transition: height 200ms ease-in-out;
    margin-top: 10px;
}

.inner {
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: 480px) {
        flex-direction: column;
        gap: 1rem;
    }

    .info {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        width: 100%;
        
        box-shadow: -4px 6px 12px 3px rgba(0, 0, 0, 0.12);
        
        border-radius: 10px;
        padding: 1rem;

        .categoryContainer {
            display: flex;
            // flex-direction: column;
            width: 100%;
            gap: 4rem;
            background-color: white;

            .column {
                width: 30%;
                display: flex;
                flex-direction: column;
                // justify-content: center;
                // gap: 2rem;


                .title, .categoryTitle {
                    font-size: 20px;
                    font-weight: 400;
                    // padding: 1rem;

                    &::first-letter {
                        text-transform: capitalize;
                    }
                }
                .categoryTitle{
                    font-size: 20px;
                    text-align: center;
                    font-weight: 600;
                    padding: 1rem ;
                }

                .category {
                    color: var(--color-active);
                    font-size: 1.1rem;
                    font-weight: 500;
                    line-height: 1.2;
                }

                // .description {
                //     height: 0;
                //     transition: all ease-in-out 0.2s;
                //     z-index: -1;
                    

                //     // p {
                //     //     opacity: 0;
                //     // }
                // }

                .descriptionActive {
                    margin-top: 1.2rem;
                    height: auto;

                    p {
                        transition: opacity ease-in-out 300ms;
                        transition-delay: 200ms;
                        opacity: 1;
                    }
                }
            }
        }
    }

    //MONEYCONTAINER
    .moneyContainer {
        display: flex;
        align-items: center;
        gap: 0.2rem;

        @media screen and (max-width: 480px) {
            width: 100%;
            justify-content: space-between;
        }

        span {
            color: var(--color-active);
            font-size: 1.1rem;
            font-weight: 500;
        }

        .iconContainer {
            display: flex;
            color: var(--color-active);
            cursor: pointer;
            padding: 4px 15px;
            border-radius: 50%;
            transition: background 200ms ease-in-out;

            &:hover {
                background: lightgrey;
            }

            svg {
                --svg-size: 1.7rem;
                width: var(--svg-size);
                height: var(--svg-size);
            }
        }
    }

    .iconContainerDelete {
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 10px;
        border: 2px solid var(--color-red-300);
        display: flex;
        // background: var(--color-red-100);
        transition: all ease-in-out 300ms;
        align-items: center;

        &:hover {
            background: var(--color-red-100);
            color: whitesmoke;
           
        }

        svg {
            width: 32px;
            height: 60px;
            align-content: center;

            color: var(--color-red-600);
        }
    }

}