.container {
    display: flex;
}

.main {
    margin-top: 1.25rem;
    margin-right: 2rem;
    width: 100%;

    @media screen and (max-width: 820px) {
        margin-right: 0;
    }
}

.searchbar {
    margin-bottom: 4rem;
}

.categories {
    margin-bottom: 4rem;
}

.overview {
    .top{
        display: flex;
        justify-content: space-between;
        width: 85%;
        .filterContainer {
            display: inline-block;
            margin-right: 1.2rem;
            margin-bottom: 1.2rem;
            //outline: 1px salmon solid;
            border: 1px solid var(--color-inactive);
            padding: 0.5rem;
            border-radius: 10px;
        }

        .filter {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.3rem;
        }

        select {
            display: inline-block;
            //outline: 1px solid var(--color-red-300);
            font-size: 1rem;
            background: #ececec;
            color: black;
            width: 180px;
            padding: 0.6rem;
            padding-left: 0;

            option {
                padding: 1rem;
                background: #ececec;
            }
        }
    }
    .content{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

.profile{
    margin-top: 1.5rem;
    @media screen and(max-width: 820px) {
        display: none;
    }
}
